/* VARIABLES */


/* END VARIABLES */

/*
 *
 * Sass CSS by Shaun Parkison @ brightmindedmedia.com
 * 0. General/Global styling
 * 1. ...
 *
 */

/* * * * * * * * * * * * * *
  0. GENERAL
 * * * * * * * * * * * * * */

// Comments avatar
.gravatar{
	display: block;
	float: left;
	padding-right: 12px;
	img{
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
	}
}
// Add reply arrow icon to comment reply button
.comment-reply-link:before{
	font-family: FontAwesome;
	content: "\f112\00a0\00a0";
}

/*
 * Classes for Velocity animated items
 * Use visibility hidden instead of display none to prevent document flow issues
 */
.animation{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
// End Velocity specific classes
